.input-override-styles {
  padding: 4px !important;
  border: 1px solid gray !important;
  font-size: 10pt !important;
  border-radius: 0 !important;
  width: 100px !important;
  height: 35px !important;
}

.admin-input {
  .input-override-styles;

  &_disabled {
    background: rgb(240, 240, 240);

    &:hover {
      .input-override-styles;
      cursor: auto !important;
      background: rgb(240, 240, 240) !important;
    }
  }

  &:hover {
    .input-override-styles;
  }
}

.admin-table-border {
  border: 1px solid #bababa;
}

.admin-table {
  .admin-table-border;

  width: max-content;
  margin: 5px 0 20px 0;

  @cell-padding: 5px;

  th {
    .admin-table-border;
    padding: @cell-padding;
    background: #cccccc;
    font-size: 10pt;
  }

  td {
    .admin-table-border;
    padding: @cell-padding;
    font-size: 10pt;
  }

}
