<div style="text-align: center; font-size: 40pt; margin: 50px;">
  Добро пожаловать!
</div>

<div style="margin:50px;font-size: 14pt; color: gray; text-align: center">
  <ng-container *ngIf="userMessage; else unauthorizedUser">
    {{userMessage}}, напишите нам, если у Вас возникли сложности при использовании
    нашего сервиса.
  </ng-container>
  <ng-template #unauthorizedUser>
    Напишите нам, если у Вас возникли сложности при использовании
    нашего сервиса.
  </ng-template>
</div>

<div style="text-align: center">
  <button class="button big-orange-button"
          routerLink="tickets/create"
  >Написать нам</button>
</div>
