<div class="header">
  <div class="header__title-block">
    <span class="header__title-block_title">
    <b>Get</b>Велосипед
  </span>
    <div class="header__title-block_tagline">
      служба поддержки
    </div>
  </div>

  <div class="header__menu-block">
    <div class="header__menu-block_item"
         routerLink=""
    >
      Главная
    </div>
    <div class="header__menu-block_item"
         routerLink="help"
    >
      Вопросы и ответы
    </div>
    <div class="header__menu-block_item"
         routerLink="login"
    >
      Мои обращения
    </div>
  </div>
</div>

<router-outlet></router-outlet>
