<ngx-spinner></ngx-spinner>

<div class="page">
  <div class="page__title">
    Обращение по заказу {{ticket ? '№ ' + ticket.order.id : 'не найдено'}}
  </div>
  <div class="page__content">
    <ng-container *ngIf="ticket && ticket.messages.length > 0; else noTicket">
      <div style="display: flex; width: 100%;">
        <!-- left side -->
        <div style="width: 70%;">
          <div class="chat" #chat>
            <message *ngFor="let message of ticket.messages"
                     [message]="message"
            ></message>
          </div>
          <form *ngIf="ticket.status.name !== 'Вопрос решен'; else closedTicketComment"
                style="display: flex; flex-direction: column"
                [formGroup]="messageForm"
                (ngSubmit)="onSendMessage()"
          >
            <textarea class="message-input-control"
                      formControlName="message"
                      placeholder="Введите сообщение"
            ></textarea>
            <div class="form-field"
                 style="width: 100%"
            >
              <button class="button medium"
                      type="submit"
                      style="width: 250px"
              >Отправить
              </button>
              <div class="info">
                Все сообщения хранятся и просматриваются отделом контроля качества.
              </div>
            </div>
          </form>
          <ng-template #closedTicketComment>
            <div style="padding-top: 15px;">
              Это обращение было закрыто. Теперь его нельзя изменить.
            </div>
          </ng-template>
        </div>
        <!-- right side -->
        <div style="width: 30%; padding-left: 20px;">
          <status-field [status]="ticket.status"
          ></status-field>
          <div style="padding-top:10px;">
            <data-field [name]="'Оператор'"
                        [value]="buildSelectOperatorName(ticket.assignee)"
            ></data-field>
          </div>
          <popup [popupTitle]="'Детали заказа'"
                 [buttonTitle]="'Детали заказа'"
                 [styles]="'available-width outline'"
                 [type]="'info'"
          >
            <div class="data">
              <data-field [name]="'Тариф'"
                          [value]="ticket.order.tariff.name"
              ></data-field>
              <data-field [name]="'Транспорт'"
                          [value]="ticket.order.bike.brand + ' ' + ticket.order.bike.model"
              ></data-field>
              <data-field [name]="'Начало поездки'"
                          [value]="ticket.order.startTime"
              ></data-field>
              <data-field [name]="'Конец поездки'"
                          [value]="ticket.order.endTime ? ticket.order.endTime : 'В пути'"
              ></data-field>
              <data-field [name]="'Стоимость'"
                          [value]="ticket.order.cost + ' &#8381;'"
              ></data-field>
            </div>
          </popup>
          <!-- assign button -->
          <ng-container *ngIf="ticket.status.name !== 'Вопрос решен'">
            <ng-container *ngIf="authenticationService.currentUserValue.role === 'SUPPORT'">
              <button
                *ngIf="!ticket.assignee || authenticationService.currentUserValue.username !== ticket.assignee.username; else assignToOther"
                class="button available-width"
                (click)="assignMe()"
              >Взять в работу
              </button>
              <ng-template #assignToOther>
                <popup [formGroup]="reassignForm"
                       [styles]="'available-width'"
                       [buttonTitle]="'Сменить оператора'"
                       [popupTitle]="'Сменить оператора'"
                       [type]="'form'"
                       (onSubmit)="assignOther()"
                >
                  <select formControlName="operator">
                    <option *ngFor="let operator of operators"
                            [value]="buildSelectOperatorValue(operator)"
                    >{{buildSelectOperatorName(operator)}}</option>
                  </select>
                </popup>
              </ng-template>
            </ng-container>
          </ng-container>
          <!-- resolution button -->
          <ng-container *ngIf="ticket.status.name === 'В работе'">
            <button class="button available-width"
                    (click)="closeTicket(true)"
            >Вопрос решен
            </button>
            <button class="button available-width reject-button"
                    (click)="closeTicket(false)"
            >Вопрос не решен
            </button>
          </ng-container>
          <!------------------------>
        </div>
      </div>
    </ng-container>

    <ng-template #noTicket>
      <div style="padding-top: 20px;">
        К сожалению, такого обращения мы не нашли.
      </div>
    </ng-template>

  </div>
</div>
