.message-input-control {
  width: 100% !important;
  height: 100px !important;
}

.chat {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100% !important;
  height: 300px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
